*{
    margin:0px;
    padding:0px;
}
header{
    width:100%;
    align-items: center;
    background-color: #045010;
    padding-top: 5px;
    top:0;
}
.heading{
    font-family:Roboto;
    color:#f4eeee;
    font-size:30px;
}
.heading h1{
    text-align: center;
}
.nav-bar{
    background-color: #999999;
    background-color: #161618;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0px;
}
.nav-bar a{
    font-size: 20px;
    color:#fdfbf9;
}
.nav-bar .active{
    color: #fdfbf9;
    text-decoration: underline;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
.content{
    width: 100%;
}
footer{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: rgb(10, 87, 15);
    bottom:0;
    position: fixed;
    color:rgb(0, 0, 0);
}
.content p{
    font-size: 20px;
}
.content-img{
    padding-left:5px;
    margin-left: 20px;
    margin-top: 5px ;
    border: #6495ed 2px solid;
    border-radius: 10px;
}
.display{
    display: flex;
    position: absoulte;
    margin-left: 100px;
}

.font{
    font-family:Roboto;
    font-size: 110%;
    color:#161618
}

.fix{  
    position:absolute;
    left:80%;
    justify-content: space-between;
  }
  .text{
    margin-left:40px;
    margin-right: 40px;
    text-align:center;
    font-family:Roboto;
    font-size: 110%;
    color:#161618
  }
.text2{
font-family:Roboto;
font-size:200%;
color:#161618
}





